$accent-color: #0f9134;
$background-color: #c2ffc2;
$border-color: #E3E3E3;
$font-color: #545454;
$font-color-accent: #d0f7b2;
$font-color-light: #B6B6B6;
$heading-color: #124700;
$white: #ffffff;
$secondary-accent-color: #6fc23b;

$bp-tablet: 760px;
$bp-desktop: 1024px;