<div class="featured-companies" data-aos="fade-right" data-aos-delay="400">
  <h3>Join Millet's waitlist for...</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="service-block card h-100">
        <img src="url:./assets/piggy-bank.png" class="card-img-top"
          alt="No Cost Stocks"/>
        <div class="card-body">
          <h5 class="card-title">$0-Commission Stocks</h5>
          <p class="card-text">
            Millet does not charge any commission fees on your investments. 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="service-block card h-100">
        <img src="url:./assets/financial-profit.png" class="card-img-top"
          alt="Los Angeles Skyscrapers" />
        <div class="card-body">
          <h5 class="card-title">One-Click Investing</h5>
          <p class="card-text">Get started to invest in quality stocks via just one click.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="service-block card h-100">
        <img src="url:./assets/cyber-security.png" class="card-img-top"
          alt="Palm Springs Road" />
        <div class="card-body">
          <h5 class="card-title">Top-Notch Security</h5>
          <p class="card-text">
            Every investment you make is protected from financial risks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center text-lg-start text-muted" style="margin-top: 30px;">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://millettech.ml/">Millet, Inc.</a>
  </div>
  <!-- Copyright -->
</footer>