<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://millettech.us18.list-manage.com/subscribe/post?u=8d9ea0ed05678d38e97a6b9d9&amp;id=d6d0382e8a&amp;f_id=000fdae6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
   
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="Name">
	<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
<div hidden="true"><input type="hidden" name="tags" value="2790820"></div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8d9ea0ed05678d38e97a6b9d9_d6d0382e8a" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Join Waitlist" name="Join Waitlist" id="mc-embedded-subscribe" class="button">
                
            </div>
        </div>

</form>
</div>

<!--End mc_embed_signup-->