<main>
  <div class="hero">
    <div class="hero-content">
      <include src="partials/alert.html"></include>
      <h2 class="hero-title" data-aos="fade-up" data-aos-delay="300">
        Build a future oriented by investing, not spending.
      </h2>
      <p class="hero-intro" data-aos="fade-up" data-aos-delay="300">
        Invest in quality stocks with every purchase you make. One click. Commission free.
      </p>
      <include src="partials/form.html"></include>
    </div>
    <include src="partials/hero-image.html"></include>
  </div>
  <include src="partials/featured-companies.html"></include>
</main>
